#top {
  background-color: #ffffff; /* Biały kolor tła */
  color: #000000; /* Czarny kolor tekstu */
  padding: 10px; /* Wewnętrzny odstęp dla lepszego wyglądu */
  float: right; /* Ustawienie elementu z prawej strony */
}

button {
border: none;
border-radius: 10px;
background-color: rgb();
}